{% extends 'master.html' %}
{% load static %}
{% block 'content' %}

<h1>Quotes of {{author.author_name}}</h1>
{% for q in quotes %}
	<div class="box">
		<div class="content">
			<blockquote><a class="has-text-black" href="{% url 'quote' q.quote_slug %}">{{q.quote}}</a><cite class="has-text-weight-bold"> ({{q.author_name}})</cite></blockquote>		
		</div>	
		{% if q.tags.all %}
			<div class="tags">
				{% for t in q.tags.all %}
					<a class="tag is-info is-capitalized" href="{% url 'tag' t.slug %}">{{t.name}} Quotes</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% empty %}
	<p class="is-size-1">There is no quote to display.</p>
{% endfor %}

{% endblock %}