{% extends 'master.html' %}
{% load static %}

{% block 'title' %}{% endblock %}
{% block 'description' %}{% endblock %}

{% block 'content' %}

<h1>Recent Quotes</h1>
{% for q in quotes %}
	<div class="box">
		<div class="content">
			<blockquote><a class="has-text-black" href="{% url 'quote' q.quote_slug %}">{{q.quote}}</a><cite class="has-text-weight-bold"> <a class="has-text-primary" href="{% url 'author' q.author_name.author_slug %}">({{q.author_name}})</a></cite></blockquote>		
		</div>
		{% if q.tags.all %}
			<div class="tags">
				{% for t in q.tags.all %}
					<a class="tag button is-outlined is-info is-capitalized" href="{% url 'tag' t.slug %}">{{t.name}} Quotes</a>
				{% endfor %}
			</div>
		{% endif %}	
	</div>
{% empty %}
	<p class="is-size-1">There is no quote to display.</p>
{% endfor %}

{% endblock %}
