{% extends 'master.html' %}
{% load static %}

{% block 'title' %}{{tag.name|title}} Quotes - QuotesHawks.com{% endblock %}
{% block 'description' %}Find top {{tag.name|title}} Quotes from QuotesHawks.com. send {{tag.name|title}} Quote to your friends and family daily updated list with trendy hot {{tag.name|title}}{% endblock %}


{% block 'content' %}

<h1>{{tag.name|title}} Quotes</h1>

{% for q in quotes %}
	<div class="box">
		<div class="content">
			<blockquote class="has-background-white"><a class="has-text-black" href="{% url 'quote' q.quote_slug %}">{{q.quote}}</a><cite class="has-text-weight-bold"> <a class="has-text-primary" href="{% url 'author' q.author_name.author_slug %}">({{q.author_name}})</a></blockquote>		
		</div>	
		{% if q.tags.all %}
			<div class="tags">
				{% for t in q.tags.all %}
					<a class="tag button is-outlined is-black is-capitalized" href="{% url 'tag' t.slug %}">{{t.name}} Quotes</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% empty %}
	<p class="is-size-1">There is no quote to display.</p>
{% endfor %}

{% endblock %}