{% extends 'master.html' %}
{% load static %}

{% block 'title' %}{{ title }} - QuoteHawks.Com{% endblock %}
{% block 'description' %}{% endblock %}

{% block 'content' %}
	
	<h1>{{ title|title }}</h1>
	<hr>

	{% regroup AUTHORS by first_letter as letter_list %}

	<div class="tags">
		{% for letter in letter_list %}
			<a class="tag button is-info is-uppercase has-text-weight-bold is-large" href="#{{ letter.grouper }}">{{ letter.grouper }}</a>
		{% endfor %}
	</div>  

	{% for letter in letter_list %}
	  	<h2 id="{{ letter.grouper }}">Authors Name Starts With {{ letter.grouper }}</h2>
	    <div class="tags">
	        {% for item in letter.list %}
	        	<a class="tag button is-outlined is-black is-capitalized" href="{% url 'author' slug=item.slug id=item.id %}">{{item.name}}</a>
	        {% endfor %}
	    </div>
	{% endfor %}


{% endblock %}