{% extends 'master.html' %}
{% load static %}

{% block 'title' %}{{author.author_name|title}} Quotes - QuotesHawks.com{% endblock %}

{% block 'description' %}Find best {{author.name|title}} Quotes from QuotesHawks.com. send {{author.name|title}} Quotes to your friends and family daily updated list with trendy hot {{author.name|title}} Quotes{% endblock %}

{% block 'content' %}

<h1>Quotes of {{author.name}}</h1>
{% for q in quotes %}
	<div class="box">
		<div class="content">
			<blockquote class="has-background-white"><a class="has-text-black" href="{% url 'quote:quote' slug=q.slug id=q.id %}" target="_blank">{{q.quote}}</a><cite class="has-text-weight-bold"> ({{q.author}})</cite></blockquote>		
		</div>	
		{% if q.tags.all %}
			<div class="tags">
				{% for t in q.tags.all %}
					<a class="tag button is-outlined is-black is-capitalized" href="{% url 'quote:tag' t.slug %}" target="_blank">{{t.name}} Quotes</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% empty %}
	<p class="is-size-1">There is no quote to display.</p>
{% endfor %}

{% endblock %}