{% extends 'master.html' %}
{% load static %}

{% block 'title' %}{{ title }} - QuoteHawks.Com{% endblock %}
{% block 'description' %}{% endblock %}

{% block 'content' %}

<h1>{{ title|title }}</h1>
<hr>

<div class="infinite-container columns is-desktop is-multiline">
	{% for q in quotes %}
		<div class="infinite-item column is-6-desktop">
			<div class="box is-radiusless is-flex" style="min-height: 100%; flex-direction: column; justify-content: space-between;">
				<div class="content">
					<figure class="image is-16by9 is-marginless" style="margin-bottom: 1rem !important;">
						{% with RANDOM_IMAGES|random as image %}
						  	<img src="{% static image %}"/>
						{% endwith %}
					</figure>
					<blockquote class="has-background-white">
						{% if q.slug %}
							<a class="has-text-black" href="{% url 'quote' slug=q.slug id=q.id %}">{{q.quote}}</a>
						{% else %}
							<a class="has-text-black" href="{% url 'quote' slug='-' id=q.id %}">{{q.quote}}</a>
						{% endif %}						
					</blockquote>	
					<cite class="has-text-weight-bold"> <a class="has-text-primary" href="{% url 'author' slug=q.author.slug id=q.author.id %}">{{q.author}}</a></cite>	
				</div>
				{% if q.tags %}
					<div class="tags">
						{% for t in q.tags.all %}
							<a class="tag button is-outlined is-black is-capitalized" href="{% url 'tag' t.slug %}">{{t.name}}</a>
						{% endfor %}
					</div>
				{% endif %}	
			</div>
		</div>
	{% empty %}
		<p class="is-size-1">There is no quote to display.</p>
	{% endfor %}
</div>

{% if quotes.has_next %}
    <a class="infinite-more-link button is-large is-block" href="?page={{ quotes.next_page_number }}">Load More</a>
{% endif %}



<!--{% if quotes.has_other_pages %}
	<nav class="pagination-">
		{% if quotes.has_previous %}
			<a rel="prev" class="pagination-previous" href="?page={{ quotes.previous_page_number }}">Previous</a>
		{% else %}
			<a class="pagination-previous" disabled>Previous</a>
		{% endif %}
		{% if quotes.has_next %}
			<a rel="next" class="pagination-next" href="?page={{ quotes.next_page_number }}">Next</a>
		{% else %}
			<a class="pagination-next" disabled>Next</a>
		{% endif %}

		<ul class="pagination-list" style="list-style: none; margin: 0;">
			{% for i in quotes.paginator.page_range %}
				{% if quotes.number == i %}
					<li><a class="pagination-link is-current">{{ i }}</a></li>
				{% else %}
					<li><a class="pagination-link" href="?page={{ i }}">{{ i }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
{% endif %}-->

{% endblock %}
{% block 'scripts' %}
	<script>
		var infinite = new Waypoint.Infinite({
		  element: $('.infinite-container')[0]
		});
	</script>
{% endblock %}