{% extends 'master.html' %}
{% load static %}

{% block 'title' %}{{quote.quote|truncatechars:70}}{% endblock %}
{% block 'description' %}{{quote.quote|truncatewords:200}}{% endblock %}

{% block 'content' %}

<div class="box">
	<div class="content">
		<figure class="image is-16by9 is-marginless" style="margin-bottom: 1rem !important;">
			{% with RANDOM_IMAGES|random as image %}
			  	<img src="{% static image %}"/>
			{% endwith %}
		</figure>
		<blockquote class="is-size-3-desktop is-size-5-mobile has-background-white">{{quote.quote}}</blockquote>
		<cite class="is-size-5"><a class="has-text-primary" href="{% url 'author' slug=quote.author.slug id=quote.author.id %}" target="_blank">({{quote.author}})</a></cite>	
	</div>
</div>

{% if quote.tags.all %}
	<div class="tags">
		{% for t in quote.tags.all %}
			<a class="tag button is-outlined is-black is-capitalized" href="{% url 'tag' t.slug %}" target="_blank">{{t.name}}</a>
		{% endfor %}
	</div>
{% endif %}

{% endblock %}