{% extends 'master.html' %}
{% load static %}

{% block 'title' %}{{tag.name|title}} Quotes - QuotesHawks.com{% endblock %}
{% block 'description' %}{{ desc }}{% endblock %}


{% block 'content' %}

<h1>{{tag.name|title}} Quotes</h1>

{% for q in quotes %}
	<div class="box">
		<div class="content">
			<blockquote class="has-background-white"><a class="has-text-black" href="{% url 'quote:quote' slug=q.slug id=q.id %}" target="_blank">{{q.quote}}</a><cite class="has-text-weight-bold"> <a class="has-text-primary" href="{% url 'quote:author' slug=q.author.slug id=q.author.id %}" target="_blank">({{q.author.name}})</a></blockquote>		
		</div>	
		{% if q.tags.all %}
			<div class="tags">
				{% for t in q.tags.all %}
					<a class="tag button is-outlined is-black is-capitalized" href="{% url 'quote:tag' t.slug %}" target="_blank">{{t.name}} Quotes</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% empty %}
	<p class="is-size-1">There is no quote to display.</p>
{% endfor %}

{% endblock %}