{% load static %}

<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block 'title' %}QuoteHawks.Com{% endblock %}</title>
    <meta name="description" content="{% block 'description' %}{% endblock %}">
    <meta name="google-site-verification" content="SfeuCDsi1lqdy_F8xc-EZkAAqwCVZaRUyKOvncZvfNg" />
	<link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700" rel="stylesheet">
    <link rel="icon" href="{% static 'images/quote.png' %}" type="image/png">
	<link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124189653-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-124189653-2');
    </script>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="hero is-info">
        
            <div class="hero-body" style="/*background-image: url({% static image %}); background-size: cover; background-position: center;*/">
                <div class="columns is-marginless is-paddingless">
                    <div class="column is-6 is-offset-3 is-paddingless" style="position: relative;">
                        <div class="field has-addons">
                            <p class="control is-expanded">
                                <input id="SEARCH" class="input is-dark is-large" type="text" placeholder="SEARCH FOR AUTHORS OR TOPICS">
                            </p>
                        </div>
                        <div id="SearchDiv" class="notification is-primary is-hidden is-radiusless" style="position: absolute; top: 3.5rem; z-index: 99; width: 100%;">
                            {% include 'quote/search.html' %}
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
    <div class="container">
        <div class="content is-marginless">
            <div class="columns is-desktop is-paddingless is-marginless">
                <main class="column is-9-desktop is-marginless is-paddingless">
                    <div class="section">
                        {% block 'content' %}{% endblock %}
                    </div>
                </main>
                <hr class="is-hidden-desktop">
                <aside class="column is-3-desktop has-background-white-ter is-marginless is-paddingless">
                    <div class="section">
                        {# include 'aside.html' #}
                        {% block 'sidebar' %}{% endblock %}
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <footer class="footer has-background-black has-text-centered">
        <p><a class="is-size-3 has-text-white has-text-weight-bold is-uppercase" href="{% url 'index' %}">Quote Hawks</a></p>
        <hr class="has-background-dark">
        <div class="buttons" style="justify-content: center;">
            {% for c in CONTENT %}
                <a class="button is-dark" href="{% url 'content' slug=c.slug %}">{{ c.title }}</a>
            {% endfor %}
        </div>
    </footer>    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            $('#SEARCH').keyup(function(){
                var term = $('#SEARCH').val();
                $.ajax({
                    type : 'get',
                    url: '{% url 'search' %}',
                    data: {
                      'term': term
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data) {
                            $('#SearchDiv').removeClass('is-hidden');
                            $('#SearchDiv').html(data.search_html);
                        }              
                    }
                });
            })

            $('#SearchDiv').on('click', '.delete', function() {
                $('#SearchDiv').addClass('is-hidden');
                $('#SEARCH').val('');
            });
        })
    </script>
    {% block 'scripts' %}{% endblock %}
</body>
</html>