{% load static %}

<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block 'title' %}QuoteHawks.Com{% endblock %}</title>
    <meta name="description" content="{% block 'description' %}{% endblock %}">
	<link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700" rel="stylesheet">
     <link rel="canonical" href="{{request.build_absolute_uri}}" />
    <link rel="icon" href="{% static 'images/quote.png' %}" type="image/png">
	<link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="section">
        <div class="container content">
            <div class="columns is-desktop">
                <main class="column is-9-desktop">
                    {% block 'content' %}{% endblock %}
                </main>
                <hr class="is-hidden-desktop">
                <aside class="column is-3-desktop">
                    {% include 'aside.html' %}
                    {% block 'sidebar' %}{% endblock %}
                </aside>
            </div>
        </div>
    </div>
    <footer class="footer has-background-dark has-text-centered">
        <a class="is-size-3 has-text-light has-text-weight-bold is-uppercase" href="{% url 'index' %}">Quote Hawks</a>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>