{% load static %}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block 'title' %}My Quotes{% endblock %}</title>
	<link href="https://fonts.googleapis.com/css?family=Asap:400,600|Asap+Condensed:700" rel="stylesheet">
    <link rel="icon" href="{% static 'images/quote.png' %}" type="image/png">
	<link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<nav class="navbar is-primary is-fixed-top">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'index' %}">
                	<p class="is-marginless has-text-white is-size-4">My<span class="has-text-warning has-text-weight-bold">Quotes</span></p>
                </a>
                <div class="navbar-burger burger" data-target="navMain">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navMain" class="navbar-menu">
                <div class="navbar-end">
                    
                </div>
            </div>
        </div>
    </nav>
    <div class="section">
        <div class="container content">
            <div class="columns is-desktop">
                <main class="column is-9-desktop">
                    {% block 'content' %}{% endblock %}
                </main>
                
                <aside class="column is-3-desktop">
                    {% if tag_cloud %}
                        <h3>Tag Cloud</h3>
                        <div class="tags">
                            {% for t in tag_cloud %}
                                <a class="tag is-primary is-medium is-capitalized" href="{% url 'tag' t.tag_slug %}">{{t.tag_name}} Quotes</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if author_list %}
                        <h3>Authors</h3>
                        <ul>
                            {% for a in author_list %}
                                <li><a class="has-text-primary" href="{% url 'author' a.author_slug %}">{{a.author_name}}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% block 'sidebar' %}{% endblock %}
                </aside>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>